<script>
    require.config({
        paths: {
            {{ config_items | join(', ') }},
        }
    });
</script>

{% for chart in charts %}
    {{ echarts_container(chart) }}    
{% endfor %}
       

<script>    
    
    require([{{ libraries | join(', ') }}], function() { 
        var echarts = arguments[0]
        {{ add_js_utils() }}   
        {{ echarts_js_content_wrap(*charts) }}
        {% for chart in charts %}
            window.myChart_{{ chart.chart_id }} = myChart_{{ chart.chart_id }};
            {% include "add_chart_resizing.js.j2" %}   
        {% endfor %}

    });
</script>
