<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ chart.page_title }}</title>
    {{ echarts_js_dependencies(chart) }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" />
    <script type="text/javascript">
        (function (root, factory) {
            if (typeof define === 'function' && define.amd) {
                define(['exports', 'echarts'], factory);
            } else if (typeof exports === 'object' && typeof exports.nodeName !== 'string') {
                factory(exports, require('echarts'));
            } else {
                factory({}, root.echarts);
            }
        }(this, function (exports, echarts) {
            var log = function (msg) {
                if (typeof console !== 'undefined') {
                    console && console.error && console.error(msg);
                }
            };
            if (!echarts) {
                log('ECharts is not Loaded');
                return;
            }
        }));
    </script>
    <script type="text/javascript">
        {{ add_js_utils() }}
    </script>
</head>

<body>
    
    
    {{ echarts_container(chart) }}
    {{ echarts_js_content(chart) }}
    
    <script type="text/javascript">
        window.myChart_{{ chart.chart_id }} = myChart_{{ chart.chart_id }};
        {% include "add_chart_resizing.js.j2" %}               
    </script>
</body>

</html>